In [ ]:
                                          # Amod Marathe PRN- 25070123073
# EXP 2 : Study of list in python
list1=["apple","banana","orange"]
print(list1)

['apple', 'banana', 'orange']

In [ ]:
list2=[2,2,3,"amod",True]
print(list2)

[2, 2, 3, 'amod', True]

In [ ]:
list3=["apple","orange","apple","cherry"]
print(list3)

['apple', 'orange', 'apple', 'cherry']

In [ ]:
list4=["apple","banana","orange","cherry","mango","kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

orange
orange
['orange', 'cherry', 'mango']
['apple', 'banana', 'orange', 'cherry']
['orange', 'cherry', 'mango', 'kiwi']

In [ ]:
list5=["apple","orange","mango"]
list5[1]=2
print(list5)

['apple', 2, 'mango']

In [ ]:
list6=["apple","orange","cherry"]
list6.append("mango")
print(list6)

['apple', 'orange', 'cherry', 'mango']

In [ ]:
list7=["apple","orange","cherry"]
list7.insert(1,"mango")
print(list7)

['apple', 'mango', 'orange', 'cherry']

In [ ]:
list8=["apple","banana","orange"]
list9=["kiwi","mango"]
list8.extend(list9)
print(list8)
print(list9)

['apple', 'banana', 'orange', 'kiwi', 'mango']
['kiwi', 'mango']

marks=[90,82,66,76,33]
 max marks
 minimum marks
 total no. of students
 4 sum of marks.
 average.
 sort in ascending order

In [ ]:
marks = [90, 82, 66, 76, 33]
print("marks list:", marks)

marks list: [90, 82, 66, 76, 33]

In [ ]:
max_marks = max(marks)
print("Maximum marks:", max_marks)

Maximum marks: 90

In [ ]:
min_marks = min(marks)
print("Minimum marks:", min_marks)

Minimum marks: 33

In [ ]:
total_students = len(marks)
print("Total number of students:", total_students)

Total number of students: 5

In [ ]:
average_marks = sum(marks) / len(marks)
print("Average marks:", average_marks)

Average marks: 69.4

In [ ]:
marks.sort()
print("Marks  ascending order:", marks)

Marks sorted in ascending order: [33, 66, 76, 82, 90]

tasks
create a groocery list
items to be added - milk, bread,eggs,fruits, chocolates, vegetables
add thes items
purchased items - milk,bread,fruits vegetables
remove purchased items
display final list

In [ ]:
list10=["milk","bread","eggs","fruits","chocolates",]
print(list10)
list10.append("vegetables")
print(list10)
list10.remove("milk")
list10.remove("bread")
print(list10)

['milk', 'bread', 'eggs', 'fruits', 'chocolates']
['milk', 'bread', 'eggs', 'fruits', 'chocolates', 'vegetables']
['eggs', 'fruits', 'chocolates', 'vegetables']